html {
	background-color: hsl(282, 42%, 24%);
	color: hsl(0, 0%, 90%);
	font-size: 3rem;
}

body {
	margin: 1rem;
}

button {
	font-size: 1rem;
	margin: 0.5rem auto;

	width: 23%;
	height: 2.5rem;
}

.buttonGender {
	width: 40%;
}

.partyPicker {
	margin-bottom: 1rem;

	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.traitPicker {
	margin-bottom: 1rem;

	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.happy {
	background-color: hsl(50, 80%, 70%);
	color: black;
}
.eager {
	background-color: hsl(14, 77%, 52%);
	color: black;
}
.angry {
	background-color: hsl(358, 84%, 20%);
	color: white;
}
.scared {
	background-color: hsl(230, 80%, 20%);
	color: white;
}
.nothing {color: hsl(0, 10%, 60%, 0.8);}

.activeButton {background-color: hsl(130, 78%, 70%);}


table {
	border-collapse: collapse;
}

th,
td {
	border: 1px solid hsl(0, 0%, 30%);
	padding: 0.5rem;
}

td {
	font-size: 0.8rem;
}
th {
	font-size: 0.9rem;
}

tbody > tr {
	background-color: hsl(282, 42%, 20%);
}

tbody > tr:nth-of-type(even) {
	background-color: hsl(282, 42%, 30%);
}

.demonList {
	height: 3em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 1em;
}