html {
	background-color: hsl(282, 42%, 24%);
	color: hsl(0, 0%, 90%);
	font-size: 3rem;
}

body {
	margin: 1rem;
}

button {
	font-size: 1rem;
	margin: 0.5rem auto;

	width: 30%;
	height: 2.5rem;
}

.partyPicker {
	margin-bottom: 1rem;

	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.traitPicker {
	margin-bottom: 1rem;

	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.happy {color: hsl(50, 80%, 70%);}
.eager {color: hsl(30, 80%, 70%);}
.angry {color: hsl(0, 80%, 70%);}
.scared {color: hsl(230, 80%, 70%);}
.nothing {color: hsl(0, 10%, 60%, 0.8);}

.activeButton {background-color: hsl(130, 78%, 70%);}


table {
	border-collapse: collapse;
}

th,
td {
	border: 1px solid hsl(0, 0%, 30%);
	padding: 0.5rem;

	font-size: 0.8rem;
}

tbody > tr {
	background-color: hsl(282, 42%, 20%);
}

tbody > tr:nth-of-type(even) {
	background-color: hsl(282, 42%, 30%);
}

.demonList {
	height: 3em;
	font-weight: bold;
}